{% extends 'base.html' %}

{% block conteudo %}
    <div class="container">
        <form action="{% url 'add_agenda' %}" method="POST">
            {% for fields in form %}
                {% csrf_token %}
                {{fields.label}}
                <div>{{fields}}</div>
                {% endfor %}
                <button type="submit" class="btn btn-success mt-4">Registrar Agenda</button>
        </form>
    </div>

    <div class="container">
        <table class="table-bordered">
            <tr>
                <th class="p-2 text-center">ID</th>
                <th class="p-2 text-center">Medico</th>
                <th class="p-2 text-center">Especialidade</th>
                <th class="p-2 text-center">Horário</th>
            </tr>
            {% for agenda in agendas %}
            <tr>
                <td class="p-2 text-center">{{agenda.id}}</td>
                <td class="p-2 text-center">{{agenda.get_medico}}</td>
                <td class="p-2 text-center">{{agenda.get_especialidade}}</td>
                <td class="p-2 text-center">{{agenda.get_horario}}</td>
                <td class="p-2 text-center"><a href="" class='btn btn-danger'>Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}