

{% extends 'clinica/base.html' %}

{% block conteudo %}
    <!-- Cadastro do médico -->
    <div class="main-content">
        <h1>Registre uma Agenda</h1>
        <form id="formMedico" action="{% url 'add_agenda' %}" method="post">
            {% csrf_token %}
            <label for="data">Data:</label>
            <input type="date" name="data">
            {% for fields in form %}
            <label for="">{{fields.label}}:</label>
            {{fields}}
            <br>
            {% endfor %}

            <input type="submit" value="Registrar Agenda">
        </form>
    </div>

    <div class="historico">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Medico</th>
                    <th>especialidade</th>
                    <th>Horário</th>
                    <th>Data</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for agenda in agendas %}
                <tr>
                    <td>{{agenda.id}}</td>
                    <td>{{agenda.medico}}</td>
                    <td>{{agenda.especialidade}}</td>
                    <td>{{agenda.horario}}</td> 
                    <td>{{agenda.data}}</td>  
                    <td>
                        <button class="delete">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}