{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Administração</title>
  <link rel="stylesheet" href="{% static 'src/css/style.css' %}" />
  <link rel="shortcut icon" href="{% static 'src/img/logo-icon.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="container">
    <aside class="sidebar">
        <div class="area-logo">
          <img class="logo" src="{% static 'src/img/logo-icon.png' %}" alt="Logo" />
          <h2 class="title-logo">HAVE Odonto</h2>
        </div>
      <nav>
        <ul>
          <li>
            <i class="fa-solid fa-house"></i>
            <a href="#">Início</a>
          </li>
          <li>
            <i class="fa-solid fa-user"></i>
            <a href="{% url "cliente" %}">Meu Perfil</a>
          </li>
          <li>
            <i class="fa-solid fa-calendar-days"></i>
            <a href="{% url 'home' %}">Agendamentos</a>
          </li>

          {% if user.is_superuser %}
          <li>
            <i class="fa-solid fa-briefcase"></i>
            <a href="{% url 'agendas_view' %}">Agendas de Serviços</a>
          </li>
          <li>
            <i class="fa-solid fa-user-doctor"></i>
            <a href="{% url 'medicos_view' %}">Médicos</a>
          </li>
          <li>
            <i class="fa-solid fa-notes-medical"></i>
            <a href="{% url 'especialidades_view' %}">Especialidades</a>
          </li>

          {% endif %}
        </ul>
        <div class="div-logout">
          <div class="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            <a href="{% url 'logout' %}">Sair da conta</a>
          </div>
        </div>
      </nav>
    </aside>
    
    <div class="container-flex">
    {% block conteudo %}
    
    {% endblock conteudo %}
  </div>
  </div>
  <script src="{% static 'src/js/script.js' %}"></script>
</body>
</html>
