{% extends 'clinica/base.html' %}

{% block conteudo %}
    <div class="container">
        <h1>Especialidades</h1>
        <form action="{% url 'especialidade_create' %}" method="POST">
            {% for fields in form %}
            {% csrf_token %}
            {{fields.label}}
            <div>{{fields}}</div>
            {% endfor %}
            <button type="submit" class="btn btn-success mt-4">Adicionar Especialidade</button>
        </form>
    </div>

    <div class="container">
        <h2>Especialidades Registradas</h2>
        <table class="table-bordered">
            <tr>
                <th class="p-2 text-center">ID</th>
                <th class="p-2 text-center">Especialidade</th>
                <th class="p-2 text-center">Preço</th>
            </tr>
            {% for especialidade in especialidades %}
            <tr>
                <td class="p-2 text-center">{{especialidade.id}}</td>
                <td class="p-2 text-center">{{especialidade.nome}}</td>
                <td class="p-2 text-center">{{especialidade.preco}}</td>
                <td class="p-2 text-center"><a href="{% url 'especialidade_delete' especialidade.id %}" class='btn btn-danger'>Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar especialidade</title>
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="shortcut icon" href="src/img/logo-icon.png" type="image/x-icon">

</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <nav class="sidebar">
            <img class="logo" src="src/img/logo-icon.png" alt="Logo">
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="index.html">Administração</a></li>
                <li><a href="resgiter.html">Agendar</a></li>
                <li><a href="medicos.html">Médicos</a></li>
                <li><a href="especialidades.html">especialidades</a></li>
            </ul>
        </nav>

        <div id="especialidade">
            <!-- Especialidae -->
            <div id="form-especialidade">
                <h1>Especialidades</h1>
                <form id="form" action="{% url 'especialidade_create' %}" method="POST">
                    <div>
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>
                    <div>
                        <label for="preco">Preço:</label>
                        <input type="text" id="preco" name="preco" required>
                    </div>
                    <div>
                        <label for="descricao">Descrição:</label>
                        <textarea name="descricao" id="descricao" ></textarea>
                    </div>
                    <button type="submit">Adicionar especialidade</button>
                </form>
            </div>

            <div id="table-especialidade">
                <h1>Histórico</h1>
                <table>
                <thead>
                    <tr>
                    <th>Id</th>
                    <th>Especialidade</th>
                    <th>Preço</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for especialidade in especialidades %}
                    <tr>
                    <td>{{especialidade.id}}</td>
                    <td>{{especialidade.nome}}</td>
                    <td>{{especialidade.preco}}</td>
                    <td>
                        <button class="delete"><img src="src/img/delete.png" alt="Excluir" onclick="excluirForm()"/></button>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        
    </div>

    

    <!-- Modal personalizado -->
    <div id="customAlert">
        <div class="alert-container">
          <div class="alert-title" id="alertTitle">especialidade cadastrada! </div>
          <div class="alert-content" id="alertContent">
            <img src="src/img/check.png" alt="">
          </div>
  
          <div class="alert-footer">
            <button class="close-btn" onclick="closeAlert()">Fechar</button>
          </div>
  
          </div>
        
      </div>
    
    <script src="src/js/script.js"></script>
</body>
</html>
