{% extends 'clinica/base.html' %}



    {% block conteudo %}
            <!-- Especialidae -->
            <div id="form-especialidade" class="main-content">
                <h1>Especialidades</h1>
                <form id="form" action="{% url 'especialidade_create' %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>
                    <div>
                        <label for="preco">Preço:</label>
                        <input type="number" id="preco" name="preco" required>
                    </div>
                    <div>
                        <label for="descricao">Descrição:</label>
                        <textarea name="descricao" id="descricao" ></textarea>
                    </div>
                    <input type="submit" value="Cadastrar Especialidade">
                </form>
            </div>
            <div id="table-especialidade" class="historico">
                <h1>Especialidades Registradas</h1>
                <table>
                <thead>
                    <tr>
                    <th>Id</th>
                    <th>Especialidade</th>
                    <th>Preço</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for especialidade in especialidades %}
                    <tr>
                    <td>#{{especialidade.id}}</td>
                    <td>{{especialidade.nome}}</td>
                    <td>{{especialidade.preco}}</td>
                    <td>
                        <button class="delete">Delete</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        
        
    

    

    <!-- Modal personalizado -->
    <div id="customAlert">
        <div class="alert-container">
          <div class="alert-title" id="alertTitle">especialidade cadastrada! </div>
          <div class="alert-content" id="alertContent">
            <img src="src/img/check.png" alt="">
          </div>
  
          <div class="alert-footer">
            <button class="close-btn" onclick="closeAlert()">Fechar</button>
          </div>
  
          </div>
        
      </div>
    
    

    {% endblock %}