{% extends 'clinica/base.html' %}

{% block conteudo %}

<div class="container">
    <h2>Agendamentos</h2>
    
    <form action="{% url 'agendar' %}" method="post">
        {% csrf_token %}
        {% for field in form%}
        <div>{{field.label}}:</div>
        <div class="mb-2">{{field}}</div>
        {% endfor %}

        <div>
            <input type="date" name="data" id="id_data" class="mb-2" required>
        </div>

        <div>
            <select name="servico" id="id_servico">
                <option value="">Selecione um Serviço</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Agendar</button>
        <!-- {{form.as_p}} -->
    </form>
</div>

<div class="container">
    <h2>Historico</h2>
    <ul class="list-group">
        {% for agendamento in agendamentos %}
        <li class="mb-3 d-flex flex-column gap-1">
            <hr>
            <div>
                <label for="">Nome:</label> {{agendamento.nome_cliente}}
            </div>
            <div>
                <label for="">CPF:</label> 
                {{agendamento.get_cpf}}
            </div>
            <div>
                <label for="">Data:</label>
                {{agendamento.data}}
            </div>
            <div>
                <label for="">Serviço:</label> 
                {{agendamento.servico}}
            </div>
            <div>
                <label for="">Registro:</label>
                {{agendamento.registro|date:"d,  F,  Y" }}
            </div>
            <div>
                {% if agendamento.status == "P" %}
                <span>Status:</span>
                    <div style="height: 15px; width: 15px; background-color: rgb(212, 25, 25); border-radius: 50%;"></div>
                {% elif agendamento.status == "A" %}
                <span>Status:</span>
                    <div style="height: 15px; width: 15px; background-color: rgb(152, 161, 33); border-radius: 50%;"></div>
                {% else %}
                <span>Status:</span>
                    <div style="height: 15px; width: 15px; background-color: rgb(21, 114, 0); border-radius: 50%;"></div>
                {% endif %}
            </div>
            <div>
                <a href="{% url 'deletar_agendamento' agendamento.id %}">
                    <button class="btn btn-danger mt-3">
                        DELETE
                    </button>
                </a>
                
            </div>
            <div>
                <a href="{% url 'editar_agendamento' agendamento.id %}">
                    <button class="btn btn-primary">
                        Edit
                    </button>
                </a>
            </div>
            <hr>
        </li>
        {% endfor %}
    </ul>
</div>
<script>
    document.getElementById('id_data').addEventListener('change', function() {
        var dataSelecionada = this.value
    
        if (dataSelecionada) {
            fetch(`/buscar-servicos/${dataSelecionada}/`)
            .then(response => response.json())
            .then(data => {
                var servicoSelect = document.getElementById('id_servico');
                servicoSelect.innerHTML = '<option value="">Selecione um serviço</option>'
    
                if (data.servicos.length === 0) {
                    // Se não houver serviços, exibe a mensagem "Sem serviços para esta data"
                    var option = document.createElement('option');
                    option.value = '';
                    option.textContent = 'Sem serviços para esta data';
                    option.style.color = 'red'
                    servicoSelect.appendChild(option);
                } else {
                    // Caso haja serviços, adiciona as opções
                    data.servicos.forEach(function(servico) {
                        var option = document.createElement('option');
                        option.value = servico.id;
                        option.textContent = servico.servico || 'Serviço não disponível'; // Caso algum serviço não tenha nome
                        servicoSelect.appendChild(option);
                    });
                }
            })
        }       
    })
</script>
{% endblock %}


