{% extends 'clinica/base.html' %}
{% load static %}


{% block conteudo %}

<div class="main-content">
  <h1>Realize o Agendamento</h1>
  <form method="post" action="{% url 'agendar' %}">
      {% csrf_token %}
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>

      <label for="cpf">CPF:</label>
      <input type="text" id="cpf" name="cpf" required maxlength="11">

      <label for="data">Data:</label>
      <input type="date" id="id_data" name="data" required>

      <label for="pagamento">Pagamento:</label>
      <select name="pagamento" id="pagamento">
          <option value="PIX">Pix</option>
          <option value="CREDITO">Cartão</option>
          <option value="ESPECIE">Dinheiro</option>
      </select>

      <label for="servico">Serviço:</label>
      <select id="id_servico" name="servico">
          <option value="">Selecionar um servico</option>
      </select>

      <input type="submit" value="Agendar">
  </form>
</div>

    <main class="historico">
      <h1>Administração</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Serviço  -  Médico  -  Horário</th>
            <th>Data</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
        {% for agendamento in agendamentos %}
          <tr class="consulta">
            <td>#{{agendamento.id}}</td>
            <td>{{agendamento.nome_cliente}}</td>
            <td>{{agendamento.servico}}</td>
            <td>{{agendamento.data}}</td>
            
            {% if agendamento.status == "P" %}
            <td class="coluna-status"><span class="status pendente">Pendente</span></td>
            {% elif agendamento.status == "A" %}
            <td class="coluna-status"><span class="status andamento">Andamento</span></td>
            {% else %}
            <td class="coluna-status"><span class="status concluido">Concluído</span></td>
            {% endif %}
            <td class="coluna-btn">
                <a href="{% url 'deletar_agendamento' agendamento.id %}" class="delete">
                  <i class="fa-solid fa-trash"></i>
                </a>

                <a href="{% url 'editar_agendamento' agendamento.id %}" class="btn-config">
                  <i class="fa-solid fa-gear"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </main>

    <script>
      document.getElementById('id_data').addEventListener('change', function() {
          var dataSelecionada = this.value
      
          if (dataSelecionada) {
              fetch(`/buscar-servicos/${dataSelecionada}/`)
              .then(response => response.json())
              .then(data => {
                  var servicoSelect = document.getElementById('id_servico');
                  servicoSelect.innerHTML = '<option value="">Selecione um serviço</option>'
      
                  if (data.servicos.length === 0) {
                      // Se não houver serviços, exibe a mensagem "Sem serviços para esta data"
                      var option = document.createElement('option');
                      option.value = '';
                      option.textContent = 'Sem serviços para esta data';
                      option.style.color = 'red'
                      servicoSelect.appendChild(option);
                  } else {
                      // Caso haja serviços, adiciona as opções
                      data.servicos.forEach(function(servico) {
                          var option = document.createElement('option');
                          option.value = servico.id;
                          option.textContent = servico.servico || 'Serviço não disponível'; // Caso algum serviço não tenha nome
                          servicoSelect.appendChild(option);
                      });
                  }
              })
          }       
      })
  </script>
  {% endblock %}


