{% extends 'clinica/base.html' %}

{% block conteudo %}
    <!-- Cadastro do médico -->
    <div class="main-content">
        <h1>Cadastre um médico</h1>
        <form id="formMedico" action="{% url 'medico_create' %}" method="post">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="especialidade">Especialidade:</label>
            <select name="especialidade" id="especialidade">
                {% for especialidade in especialidades %}
                <option value="{{especialidade.id}}">{{especialidade}}</option>
                {% endfor %}
            </select>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="telefone">Telefone:</label>
            <input type="number" id="telefone" name="telefone" required maxlength="11">

            <input type="submit" value="Cadastrar Médico">
        </form>
    </div>

    <div class="historico">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>email</th>
                    <th>especialidade</th>
                    <th>Telefone</th>
                    <th style="text-align: center;">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for medico in medicos %}
                <tr>
                    <td>#{{medico.id}}</td>
                    <td>{{medico.nome}}</td>
                    <td>{{medico.email}}</td>
                    <td>{{medico.especialidade}}</td>
                    <td>{{medico.telefone}}</td>   
                    <td class="coluna-btn">
                        <a href="{% url 'medico_delete' medico.id %}" class="delete">
                          <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}