{% extends 'clinica/base.html' %}

{% block conteudo %}
    <div class="container">
        <h2>Cadastrar um médico</h2>
        <form action="{% url 'medico_create' %}" method="post">
            {% for fields in form %}
                {% csrf_token %}
                {{fields.label}}
                <div>{{fields}}</div>
                {% endfor %}
                <button type="submit" class="btn btn-success mt-4">Cadastrar Médico</button>
        </form>
    </div>

    <div class="container">
        <h2>Médicos Cadastrados</h2>
        <table class="table-bordered">
            <tr class="">
                <th class="p-3">Nome</th>
                <th class="p-3">Email</th>
                <th class="p-3">Especialidade</th>
                <th class="p-3">Telefone</th>
            </tr>

            {% for medico in medicos %}
            <tr>
                <td class="p-2">{{medico.nome}}</td>
                <td class="p-2">{{medico.email}}</td>
                <td class="p-2">{{medico.especialidade}}</td>
                <td class="p-2">{{medico.telefone}}</td>
                <td class="p-3">
                    <a href="{% url 'medico_delete' medico.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}