@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #56D3D5;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.575);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.back-button {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-button:hover {
    color: #add8e6;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    padding: 10px;
}

.quadrado {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 450px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #177577;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.input-container input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.input-container i {
    color: #56D3D5;
    margin-left: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.3s;
}

.btn-save {
    background-color: #56D3D5;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.575);
}

.btn-clear {
    background-color: #f1f1f1;
    color: #333;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .quadrado {
        width: 100%;
        margin: 0 10px;
    }
}
