/* Resetando margens e preenchimento padrões */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Fonte base e corpo */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}

/* Menu NavBar */
navbar-itens {
    list-style: none;
    display: flex;
}

navbar-itens li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .navbar-itens {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        /* background: #23232e; */
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .navbar-itens li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.navbar-itens.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from { 
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

h1 {
    font-size: 40px;
}

.img {
    border-radius: 10px;
}

.cabecalho-imagem {
    /* border-radius: 50%; */
    width: 10%;
    /* box-shadow: 0px 0px 1px 1px rgba(236, 235, 235, 0.5); */
    margin-bottom: 20px;
}

.mais {
    border-radius: 50px;
    padding: 15px 15px;
    margin-top: 30px;
}

hr {
    border: 0;
    /* Remove a borda padrão */
    height: 3px;
    /* Define a altura da linha */
    background-color: #57D3D5;
    /* Cor da linha */
    width: 50%;
    /* Define o comprimento da linha */
    margin: 30px 470px;
    /* Espaçamento acima e abaixo da linha */
    margin-top: -35px;

}

/* Cabeçalho */
header {
    background-color: #57D3D5;
    padding: 30px 0;
    position: relative;
    text-align: center;

}

header .logo h1 {
    margin-bottom: 10px;
}



header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

.cabecalho-imagem {
    margin: 0;
    width: 100px;
}

header nav ul li a {
    color: #2a7c7e;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 25px;
    border-radius: 6px;
    border: 2px solid #098486;
}




header nav ul li a:hover {
    opacity: 0.7;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
}

nav img {
}


/* main banner */

.main-banner {
    background-image: url('/static/base/img/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 5em 0;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 400px;

}

.main-banner h1,
.main-banner p {
    color: #57D3D5;
    text-align: center;
    font-weight: bold;
}

.main-banner h1 {
    font-size: 54px;
}

.main-banner p {
    font-size: 32px;
}

/* Seção Hero */
#hero {
    color: white;
    text-align: center;
    padding: 50px 20px;
}

#hero h2 {
    font-size: 3rem;
}

#hero p {
    font-size: 1.3rem;
    padding-bottom: 20px;

}

.cta {
    background-color: #fff;
    color: #57D3D5;
    padding: 12px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;

}

.cta:hover {
    opacity: 0.5;
}

/* Seção de Serviços */
#servicos {
    text-align: center;
    padding: 10px 20px;
    margin-top: 2px;
    background: #e2e4e6;
    padding: 60px;
}

#servicos h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.services {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}

.service-item {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.service-item h3 {
    color: #57D3D5;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1rem;
}


/* Seção Blog */

#blog {
    text-align: center;
    padding: 60px 20px;
    
}

#blog h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.blogg { 
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.blog-item {
    background-color: white;
    /* padding: 20px; */
    padding-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.blog-item h3 a{
    color: #57D3D5;
    margin-bottom: 10px;
    text-decoration: none;
}

.blog-item p {
    font-size: 1.1rem;
    padding: 10px;
}

.blog-item #img-post{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/* Seção Sobre */
#sobre {
    padding: 60px 20px;
    background-color: #e2e4e6;
    text-align: center;
}

#sobre h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#sobre p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Seção Agendamento */
#agendamento {
    padding: 60px 20px;
    text-align: center;
}

#agendamento h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

label {
    font-size: 1.1rem;
}

input {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #57D3D5;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;

}

button:hover {
    background-color: #57D3D5;
    cursor: pointer;
}

.carregando {
    cursor: wait;
    /* Muda o cursor para o ícone de carregamento */
}


/* Seção de Contato */
#contato {
    padding: 40px 20px;
    text-align: center;
}

#contato h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#contato p {
    font-size: 1.2rem;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}



#footer_social_media {
    display: flex;
    gap: 1.2rem;
    margin: 5px;

}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.50rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.3;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    color: #e9ecef;
}

#whatsapp {
    background-color: #25d366;
    color: #e9ecef;
}

.mapbox {
    margin-top: 1rem;
}

#endereco {
    display: flex;
    gap: 15rem;
    margin: 25px;
    justify-content: center;
    align-items: center;
}



#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#menu ul {
    display: flex;
    gap: 20px;
}




/* Media Queries */

/* Para telas pequenas (até 768px, como tablets ou smartphones em paisagem) */
@media (max-width: 768px) {



    header nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
    }


    .services {
        flex-direction: column;
        gap: 20px;
    }

    .service-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .blogg {
        flex-direction: column;
        gap: 20px;
    }

    .blog-item {
        width: 100%;
        margin-bottom: 20px;
    }

    #hero h2 {
        font-size: 2.5rem;
    }

    #hero p {
        font-size: 1.1rem;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    header nav ul.active {
        display: flex;
    }

    .cta {
        padding: 10px 20px;
        font-size: 1rem;
    }

    form {
        width: 100%;
        padding: 0 20px;
    }

    #footer_social_media {
        flex-direction: column;
    }

    .mapbox iframe {
        width: 100%;
    }

    #endereco {
        display: inline-block;
    }
}


/* Para telas muito pequenas (até 480px, como smartphones em modo retrato) */
@media (max-width: 480px) {
    #hero h2 {
        font-size: 2rem;
    }

    #hero p {
        font-size: 1rem;
    }

    header nav ul li a {
        font-size: 16px;
    }

    #servicos h2,
    #blog h2,
    #sobre h2,
    #agendamento h2,
    #contato h2 {
        font-size: 2rem;
    }

    .services {
        flex-direction: column;
    }

    .service-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .blogg {
        flex-direction: column;
    }

    .blog-item {
        width: 100%;
        margin-bottom: 20px;
    }

    form {
        width: 100%;
        padding: 0 20px;
    }

    #endereco {
        display: inline-block;
    }
}

/* CARROSEL */

img {
    width: 100%;
    height: 100%;
}

.swiper {
    background-color: gray;
    height: 700px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#hero {
    width: 60%;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero h2, #hero p {
    text-shadow: 0px 0px 17px black;
    text-align: center;
}

#hero a {
    box-shadow: 0px 0px 18px black;
    font-size: x-large;
    color: #2a7c7e;
    border-radius: 6px;
}

.mais {
    padding: 20px 40px;
    font-size: x-large;
    border: 2px solid transparent;
    
}

.mais:hover {
    border-color: #2a7c7e;
    color: #2a7c7e;
    background-color: white;
    transition: all 0.3s ease-in-out;
}